<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ng-click="localLogin()" class="button button-positive button-block ">Log in</a>
            <h5>Log in with:</h5>
            <div class="button-bar">
                <button ng-click="facebookLogin()" class="button button-positive button-block  icon ion-social-facebook"></button>
                <button ng-click="twitterLogin()" class="button button-positive button-block  icon ion-social-twitter"></button>
            </div>
            <a ui-sref="signup" class="button button-positive button-clear button-block ">or create an account</a>
        </form>
    </ion-content>
</ion-view>